/* themes */
@import './colors.css';

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

::-webkit-scrollbar {
    display: none;
}


* {
    margin: 0;
    padding: 0;
    /* transition: 1s; */
    font-family: 'League Spartan';
    box-sizing: border-box;
    color: var(--text-color);

}

.body {
    background-image: linear-gradient(var(--start-gradient), var(--end-gradient));
    background-size: cover;
}

body > * {
    flex: 1; /* Make all direct children of body take available vertical space */
  }
  

p,
ul,
li {
    font-family: 'Lato';
    font-size: small;
}


/* nav bar css styles  */
.nav-bar {
    position: fixed;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    margin-bottom: 10%;
    height: 8%;
    width: 100%;
    z-index: 99999999;
    /* keep the navbar above other elments*/
    background-color: var(--dark);

}


.nav-bar a {
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: all .3s ease-in-out;

}

.nav-bar a:hover {
    transform: translateX(10px);
    color: var(--secondary-color);
    cursor: pointer;
}


/* Home css files  */

#tilt {
    width: 700px !important;
    /* height: 200px; */
    margin: auto !important;
    background-color: transparent !important;
    box-shadow:  none !important;

}


.container-home {
    margin-top: 20%;
    max-width: 700px;
    max-height: 400px;
    border-radius: 1em;
    border: 1px solid var(--on-primary-color);
    display: flex;
    color: var(--text-color);

}

.card-home {
    margin-left: 0%;
    margin-right: 5%;
}

#my-img {
    height: auto;
    width: auto;
    border-radius: 1em;
    max-width: 400px;
    max-height: 400px;
    filter: saturate(130%);
}

.info {
    margin-top: 5%;
    padding: 1%;
}


.info h2 {
    padding-bottom: 5%;
    text-align: center;
}

.info p,
ul,
li {
    margin: 0 auto;
    letter-spacing: .15em;
    list-style: none
}


.links {
    margin-left: 20%;
    margin-top: 3%;
}

.links img {
    width: 8%;
    border-radius: 50%;
    margin: 4% 3%;

}

.links img:hover {
    transform: scale(1.3);
}


/* skills css styles */
/* top | right | bottom | left */

.main-skills-container {
    margin: 0 auto 0 auto;
    max-width: 700px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills-header {
    text-align: center;
}

.skills-header h2 {
    margin: 5px auto 5px auto;
    color: var(--primary-color);
    font-size: 80px;
    font-weight: 500;
}

.skills-header p {
    margin: 15px 15px 0px;
    color: var(--text-color);
}



.skills-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.single-card {
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    border-radius: 1em;
    border: 0.5px solid var(--on-primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.single-card h4 {
    margin-top: 20px;
    color: var(--secondary-color);
}

#tilt-single-card {
    width: 50px !important;
    height: 250px !important;
    margin-right: 280px !important;
    background-color: transparent !important;
}

.tech-row {
    max-height: 30px;
}

/* resize images to fit in its container */
.tech-row img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
    margin: 4px;
}


/* About me css styles - Timeline */
.main-timeline-container {
    margin: 15px auto 350px auto;
    max-width: 700px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.introduction {
    padding: 0 5%;
    display: inline-block;
}

.container-timeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-top: 5%
}



.year-timeline {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.year-timeline h3 {
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin:1%; */

}

.img-timeline img {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 10px;
    background-color: var(--text-color);
}

/* dotted line  ... */
.vertical-line {
    border-left: 3px dotted var(--on-primary-color);
    height: 55px;
    margin-left: 45%;
}

.info-timeline {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content {
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5%;
    border: 1px dotted var(--on-primary-color);
    border-radius: 10px;
}

.content h3 {
    color: var(--primary-color);
    margin-bottom: 5px;
}

/* projects section css styles  */

.project-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 45px; */
    margin-bottom: 100px;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* top | right | bottom | left */

.projects-header h2 {
    margin: 5px auto 5px auto;
    color: var(--primary-color);
    font-size: 80px;
    font-weight: 500;
}

.key-words {
    margin: 5px auto 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key-words span {
    margin: 5px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;

}

span:hover {
    background-color: gray !important;
    transform: scale(1.2);
}

.projects-content {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;

}

/* maximise container option + prev next button + to show 3 by 3 ==> flip the cord to display description*/
/* https://codemyui.com/3d-card-flip-hovering-text/ */

/* transparent effect on card */
.project-container {
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-height: 350px;
    width: 230px;
    /* box-shadow: 1px 2px 2px grey; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5%;

}

.project-container h4 {
    text-shadow: 2px 3px 3px var(--primary-color);
    margin-top: 5%;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 7%;
}


.project-container p {
    letter-spacing: 1px;
}

.tags {
    display: flex;
    /* grid-template-columns: auto auto auto; */
    flex-direction: row;
    justify-content: center;
    height: 30px;
    width: auto;
    gap: 4%;
}

.tags img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 8% !important;
}

.buttons button {
    border-radius: 20px;
    height: 40px;
    width: 80px;
    background-color: #895cf2;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 400;
}

.buttons button:hover {
    /* background-color: rgb(216, 45, 222); */
    background-color: rgb(31, 225, 225) !important;

}


/* footer css styles  */
.footer {
    /* position: fixed; */
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-family: 'League Spartan';
    font-size: 15px;
    font-weight: 300;
    color: var(--text-color);


}

/* -------------Responsive design--------------------- */

/* media query */

/* home */
@media screen and (max-width: 800px) {

    #tilt {
        width: 100% !important;
    }

    .container-home {
        max-width: 100%;
        max-height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-left: 5%;
    }

    #my-img {
        height: 40%;
        width: 40%;
        border-radius: 10%;
        margin-left: 30%;
        margin-top: 5%;

    }

    .info {
        padding-left: 3%;
        letter-spacing: .1em;
        font-size: smaller;
    }

    .info h2 {
        font-size: large !important;
    }

    .info li {
        padding-left: 5%;
    }

    .links {
        margin-left: 40%;
    }

    .links img {
        margin: 1% 2%;
    }


    /* about me section */

    .main-timeline-container {
        max-width: 100%;
        max-height: 30%;
        margin: 15px auto 10px auto;
    }

    .container-timeline {
        justify-content: center;
        margin-left: 1%;
        margin-top: 5%
    }

    .year-timeline h3 {
        margin-top: 55px;
        margin-bottom: 55px;
        font-size: 80%;
    }

    .content {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5%;
    }

    .content h3 {
        font-size: 80%;
    }

    .content p {
        font-size: 60%;
        margin-bottom: 11px;
    }


    /* skills section */

    .main-skills-container {
        margin: 0 auto 0 auto;
        max-width: 90%;
        max-height: 200%;
        display: flex;
        flex-direction: column;
    }

    .skills-header {
        text-align: center;
    }

    .skills-header h2 {
        margin: 5px auto 5px auto;
        color: var(--primary-color);
        font-size: 80px;
        font-weight: 500;
    }

    .skills-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-left: auto; */

    }

    .single-card{
        margin-left:auto ;
        margin-right: auto;
    }
    .single-card:first-child {
        margin-bottom:10px ;
    }

    #tilt-single-card {
        width: 90% !important;
        height: 300px !important;
        margin-left: 1px !important;
        background-color: transparent !important;
    }

    .tech-row {
        max-height: 25px;
    }

    /* projects section */

    .projects-header h2 {
        margin: 5px auto 5px auto;
        font-size: 350%;
        font-weight: 500;
    }

    .key-words {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;

    }

    .projects-content {
        margin: auto;
        display: grid;
        grid-template-columns: auto ;
        /* gap: 1%; */
        padding: 10px;

    }

    .project-container {
        max-height: 550px;
        /* width: auto; */

    }

    .project-container h4 {
        font-size: 80%;
    }

    /* .project-container p {
        font-size: x-small;
    } */

    .tags {
        height: 20px;
    }

    .buttons button {
        height: 30px;
        width: 50px;
        font-size: 70%;
    }

    /* .nav-bar{
    display: none;
    position: absolute;
}
.nav-bar.responsive {
    display: block;
} */

}