@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    transition: 3s;
    font-family: 'League Spartan';
    box-sizing: border-box;
    color: white;

}

.body {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 36) 60%, rgba(25, 2, 36, 0.9));
    background-size: cover;

}

canvas {
    display: block;
    /* fix necessary to remove space at bottom of canvas */
    /* position: fixed;
    top: 10px; */
}


/* nav bar css styles  */
.nav-bar {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 1%;

}

.nav-bar a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    transition: all .3s ease-in-out;

}

.nav-bar a:hover {
    transform: translateX(10px);
    color: rgb(201, 40, 150);
}


/* Home css files  */

#tilt {
    width: 700px !important;
    margin: auto !important;
    background-color: transparent !important;

}


.container-home {
    margin-top: 5%;
    max-width: 700px;
    max-height: 400px;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    color: white;

}

.card-home {
    margin-left: 0%;
    margin-right: 5%;
}

#my-img {
    height: auto;
    width: auto;
    border-radius: 1em;
    max-width: 400px;
    max-height: 400px;
}

.info {
    margin-top: 10%;
}

.info h2 {
    padding-bottom: 5%;
    /* border-right: .1em solid rgb(201, 40, 150); */
    /* https://css-tricks.com/snippets/css/typewriter-effect/
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 2s steps(21, end),blink-caret .15s step-end infinite alternate; */
}

.info p {
    display: grid;
    place-items: center;
    margin: 0 auto;
    letter-spacing: .15em;
}

.links {
    margin-left: 30px;
    margin-top: 15px;
}

.links img {
    width: 23px;
    border-radius: 50%;
    margin: 20px 15px;

}


/* skills css styles */

.main-skills-container {
    margin: auto;
    max-width: 700px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.skills-header {
    text-align: center;
}

.skills-header h2 {
    /* top | right | bottom | left */
    margin: 0px auto 0px auto;
    color: purple;
    font-size: 80px;
    font-weight: 500;
}

.skills-header p {
    margin: 15px 15px 0px;
    color: white;
}



.skills-card {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.single-card {
    width: 300px;
    height: 330px;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.single-card h4 {
    margin-top: 20px;
    color: rgb(212, 15, 212);
}

#tilt-single-card {
    width: 50px !important;
    height: 250px !important;
    margin-right: 280px !important;
    background-color: transparent !important;
}

.tech-row {
    max-height: 30px;
}

/* resize images to fit in its container */
.tech-row img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
    margin: 4px;
}


/* About me css styles - Timeline */

.container-timeline {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 50px
}

.year-timeline {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.year-timeline h3 {
    margin-top: 70px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.img-timeline {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.img-timeline img {
    max-width: 45px;
    max-height: 45px;
    object-fit: cover;
    border-radius: 30px;
    margin: 5px;
    background-color: white;
}

/* dotted line  ... */
.vertical-line {
    border-left: 6px solid purple;
    height: 55px;
    margin-left: 40%;
}

.info-timeline {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content {
    margin-left: 5px;
    /* margin-bottom: 20px; */
}

.content h3 {
    color: purple;
    margin-bottom: 5px;
    margin-top: 60px;
}

/* projects section css styles  */

.project-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  /* top | right | bottom | left */

.projects-header h2{
    margin: 5px auto 5px auto;
    color: purple;
    font-size: 80px;
    font-weight: 500;
}

.key-words{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.key-words span{
    margin: 5px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    
}

 span:hover{
    background-color: gray !important;
    transform: scale(1.2);
}

.projects-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* footer css styles  */
.footer {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-family: 'League Spartan';
    font-size: 15px;
    color: white;

}

/* -------------Responsive design--------------------- */